<a href="https://colab.research.google.com/github/danielLeiteSilva/nlp/blob/main/Atividade_Final_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Faculdade Impacta

Daniel Leite Da Silva RA: 2201509

João Victor De Andrade Ramos RA:1800883

Rafael de Almeida Ronchi RA: 2102995

#Importando Arquivo

##Checando ambiente}

As versões do pandas e do python interferem na leitura desse arquivo.

In [ ]:
!python --version

Python 3.7.13

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

'1.3.5'

In [ ]:
#helper para upload do arquivo zipado, porque vai demorar demais
#subir o arquivo descompactado
from google.colab import files
#files.upload()

In [ ]:
!unzip archive.zip

Archive:  archive.zip
  inflating: training.1600000.processed.noemoticon.csv

In [ ]:
#nome das coluna do arquivo
colunas=['Target', 'Id', 'Data', 'Flag', 'Usuario', 'Texto']

##Lendo o arquivo

In [ ]:
df_1 = pd.read_csv('training.1600000.processed.noemoticon.csv', 
                 encoding = "latin-1", 
                 names=colunas, 
                on_bad_lines='warn',
                #nrows=10000
                )

##Validando dados

In [ ]:
total_linha=df_1.shape[0]
df_1.shape

(1600000, 6)

In [ ]:
df_1.tail()

,Target,Id,Data,Flag,Usuario,Texto
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [ ]:
#se a última coluna da última linha estiver certo, e está , então o pandas leu
#o arquivo direito. Foi difícil.
print(df_1.tail(1)['Texto'].tolist()[0])

happy #charitytuesday @theNSPCC @SparksCharity @SpeakingUpH4H

In [ ]:
#e uma chegem adiconal com sample
df_1.sample(10)

,Target,Id,Data,Flag,Usuario,Texto
177215,0,1965561268,Fri May 29 16:08:15 PDT 2009,NO_QUERY,untamed__soul,@SASSS09 hahaha.. sadly this one's supposed to...
554149,0,2203786452,Wed Jun 17 00:31:53 PDT 2009,NO_QUERY,jbmcdlts,If only she would let me fly on my own we woul...
1100573,4,1970674188,Sat May 30 04:47:57 PDT 2009,NO_QUERY,truscotsman72,@chicklet7 I've to go and collect her in an ho...
1329136,4,2015623346,Wed Jun 03 05:07:58 PDT 2009,NO_QUERY,hezalw,Poto2x di Thailand http://bit.ly/vftex
227564,0,1978086272,Sat May 30 22:24:25 PDT 2009,NO_QUERY,lela2000,Can't wait till I finally graduate college! Bu...
609769,0,2223868260,Thu Jun 18 08:48:37 PDT 2009,NO_QUERY,neopeo,@GurpsK lol. i should have tried it on a blond...
417941,0,2061652573,Sat Jun 06 21:19:14 PDT 2009,NO_QUERY,TwiLove66,I've been so exhausted lately that I hardly ev...
345627,0,2015962765,Wed Jun 03 05:53:44 PDT 2009,NO_QUERY,cc_online,@mischabcom Thanks so much Sam *hugs* I try no...
1358471,4,2048223198,Fri Jun 05 14:51:25 PDT 2009,NO_QUERY,morenamami,@KurtisBlow1 ignore the hatas and keep doing...
1013787,4,1881360208,Fri May 22 04:26:00 PDT 2009,NO_QUERY,johar,@venkatag Guess you are a Bitsian in Pune.I am...

#Criar base treino e teste

In [ ]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 6 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   Target   1600000 non-null  int64
 1   Id       1600000 non-null  int64
 2   Data     1600000 non-null  object
 3   Flag     1600000 non-null  object
 4   Usuario  1600000 non-null  object
 5   Texto    1600000 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

##Descarta colunas desnecessárias

In [ ]:
df_2=df_1[['Target', 'Id', 'Texto']]

In [ ]:
df_2.sample(5)

         Target          Id                                              Texto
659578        0  2242206223                      @TheExtravagate i wanna read
1180149       4  1981869461           Nathan's hella making me eggs and bacon
1095652       4  1970246745  saturday alone at home *sigh* nothing to do ex...
374602        0  2051272453  swelling up from a play fight punch in the fac...
1330925       4  2015902918  @CrispCoco@Lokie28@Soultry@Libertyacc@Divinera...

In [ ]:
#Não precisamos mais, libera a referência para garbage collection
del df_1

##Ajusta target

**Original:**

      0->Negativo

      2->Neutro

      4->Positivo

**Ajustado:**

      Negativo -> 0
    
      Neutro-> serão descartados se existerem

      Positivo -> 1

In [ ]:
#só tem 0 e 4
df_2['Target'].unique()

array([0, 4])

In [ ]:
#mas o seguro morreu de velho, exclui linhas com target 2
df_3=df_2.drop(df_2[df_2['Target'] ==2].index)
del df_2

In [ ]:
df_3['Target']=df_3['Target'].apply(lambda x : 1 if x>0 else 0)

In [ ]:
df_3['Target'].unique()

array([0, 1])

In [ ]:
#depois de tantas transformaçoes, reset os indices do pandas
#para garantir
df_3.reset_index(inplace=True)

In [ ]:
df_3.head()

,index,Target,Id,Texto
0,0,0,1467810369,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,1,0,1467810672,is upset that he can't update his Facebook by ...
2,2,0,1467810917,@Kenichan I dived many times for the ball. Man...
3,3,0,1467811184,my whole body feels itchy and like its on fire
4,4,0,1467811193,"@nationwideclass no, it's not behaving at all...."

##Sepera treino e teste

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
df_target=df_3[['Target']]
df_dados=df_3[['Id', 'Texto']]

x_treino, x_teste, y_treino, y_teste = train_test_split(df_dados,
                                                        df_target, 
                                                        test_size=0.3,
                                                        
                                                        stratify=df_target)

In [ ]:
x_treino.head(5)

                 Id                                              Texto
398234   2056834141  i needed someone to rely on, you worked out fo...
1447581  2062636613  thinking about the most beautiful girl in the ...
145556   1882246207  @JaySkillz i'm computerless,so i try listenin ...
40880    1573895999              my boss is still mad from me i guess
1593006  2191848182  @jameseh, not *a* country, *the* country, as i...

In [ ]:
y_treino.head(5)

         Target
398234        0
1447581       1
145556        0
40880         0
1593006       1

In [ ]:
x_teste.head(5)

                 Id                                              Texto
820817   1553835003     @KUOWBernard Lyrja Francis! What a fun tweet.
1528962  2177482851  great song(mus &amp; lyr) by Abel Zavala...I f...
1397976  2054034942        hello world, welcome to the best day ever!
1040513  1956955192  @b50 of course, we trust u wudn't do tht. its ...
1484680  2067721474  Ahhh! Its gorgeous in santa monica!! Sunnny wi...

In [ ]:
y_teste.head(5)

         Target
820817        1
1528962       1
1397976       1
1040513       1
1484680       1

In [ ]:
#limpa memória
del df_3
del df_dados
del df_target

#Processamento de texto

##Função limpadora de texto

In [ ]:
#pacote limpador de caracter special
!pip install unidecode

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: unidecode in /usr/local/lib/python3.7/dist-packages (1.3.4)

In [ ]:
import unidecode
import string
import re
import nltk
from nltk.stem import RSLPStemmer, PorterStemmer

In [ ]:
nltk.download('rslp')

[nltk_data] Downloading package rslp to /root/nltk_data...
[nltk_data]   Package rslp is already up-to-date!

True

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
#pacote de  stopwords
stopwords=nltk.corpus.stopwords.words('english')

#regex para tag
reg_tag=re.compile(r'<[^>]+>')

#regex para url
reg_url=re.compile(r'^https?:\/\/.*[\r\n]*')

#regex para números
reg_num=re.compile(r'[0-9]+')

#regex unica
reg_todas=re.compile('<[^>]+>|^https?:\/\/.*[\r\n]*|[0-9]+|^[@]|^[#]')

#não tem o que comentart aqui
stemmer = PorterStemmer()


def limpar(original,  stem=True, joinString=False):
  
  #apenas minusculas
  t=original.lower()

  #remover char especial
  t=unidecode.unidecode(t) 
  
  #remove pontuação, masn mantém o arroba e hastag para 
  #dois pontos e barrasoutras limpezas
  t=t.translate(str.maketrans('', '', "!\"$%&'()*+,-.;<=>?[\]^_`{|}~"))

  t=t.split()

  t2=[]

  for i in range(len(t)):
    termo=t[i]
    #remove stop words e pontuação
    if (termo not in stopwords) and not (reg_todas.match(termo)):
    #and not(reg_tag.match(termo)) 
    #and not(reg_url.match(termo)) 
    #and not (reg_num.match(termo)) 
    #and (not termo.startswith("@") or not removerCitacao) 
    #and (not termo.startswith("#")or not removerHash ):
    
    
      t2.append(stemmer.stem(termo) if stem else termo)



  return " ".join(t2) if joinString else t2

###Demonstração

In [ ]:
#x_treino.sample(20)['Texto'].apply(limpar)
df_demo=x_treino[['Texto']].sample(25)
df_demo['Limpo']=df_demo['Texto'].apply(limpar)
df_demo

,Texto,Limpo
14565,@MarielMendoza ive been good! i dont even see ...,"[ive, good, dont, even, see, campu, miss]"
4408,hates replaying that night in my head!!!! can'...,"[hate, replay, night, head, cant, happi, love,..."
196694,is bored cinema later though the sleep over (Y),"[bore, cinema, later, though, sleep]"
547363,Finally have native desktop identi.ca client o...,"[final, nativ, desktop, identica, client, os, ..."
1280446,@SongzYuuup Ha ha u said shawty I see the A i...,"[ha, ha, u, said, shawti, see, wear, u]"
674304,Watching GIA.,"[watch, gia]"
300594,wishes that @tatii77 went to ice palace with h...,"[wish, went, ice, palac]"
1203366,i'm kind of excited that I actually have time ...,"[im, kind, excit, actual, time, watch, mtv, mo..."
5016,"is back from New York, but wants to go back so...","[back, new, york, want, go, back, badli]"
163588,friends romans and country men lol ppl need 2 ...,"[friend, roman, countri, men, lol, ppl, need, ..."
1467308,@DailyProgress http://bit.ly/YbY5T I'm glad t...,"[im, glad, theyr, keep, open]"
7283,Off to work. It is the start of a beautiful da...,"[work, start, beauti, day, stuck, insid]"
1043010,"@NikkiNoo1956 Sorry, miss read that, did you s...","[sorri, miss, read, say, couldnt, fit, ars, br..."
1504885,@JohnLloydTaylor I liked it and idk if other p...,"[like, idk, ppl, recogn, u, like, that, jt, th..."
96538,@RetroRewind as long as you also allow us to l...,"[long, also, allow, us, listen, onlin, wouldnt..."
580404,@hr98nole it was while i was warming up my din...,"[warm, dinner, though]"
1441053,at tbell with soch and caro !,"[tbell, soch, caro]"
1315466,I can finally password protect specific apps o...,"[final, password, protect, specif, app, bb, wi..."
1350175,First beer at 1038 . . Nice,"[first, beer, nice]"
397403,@ShiningSamy Y did u have to stain my favorite...,"[u, stain, favorit, jean]"
584988,@godandmars the murder of sylvia likens http:...,"[murder, sylvia, liken]"
312045,Stuck in traffic,"[stuck, traffic]"
48329,"oh noes, vacation almost over","[oh, noe, vacat, almost]"
534726,Trying to make sense in my head of daily life ...,"[tri, make, sens, head, daili, life, without, ..."
606047,"@Kirky555 hmm, can't seem to get a public time...","[hmm, cant, seem, get, public, timelin]"

In [ ]:
limpar("texto's #Esquisitos! caço, pão @Twiter case sports eventually",  joinString=True)

'texto caco pao case sport eventu'

Nesse ponto da análise ainda não faz sentido aplicar a função de limpeza no dataset.

#Tokkens, Bigrams e Trigrams

##Função tokken-bigram-trigram

In [ ]:
def tobitri(original, gramsAsList=False):

  #a função de limpeza tokkeniza por padrão
  tokkens=limpar(original)

  b=[]
  t=[]

  #bigrams
  for i in range(len(tokkens)-1):
    if gramsAsList:
      b.append(tokkens[i:i+2])
    else :
      b.append(tokkens[i]+"__" + tokkens[i+1])
  
  #trigrams
  for i in range(len(tokkens)-2):
    if gramsAsList:
      b.append(tokkens[i:i+3])
    else :
      b.append(tokkens[i]+"__" + tokkens[i+1]+"__" + tokkens[i+2])

  tokkens.extend(b)
  tokkens.extend(t)

  return tokkens

##Demonstração

In [ ]:
tobitri("texto's #Esquisitos! caço, pão @Twiter case sports eventually")

['texto',
 'caco',
 'pao',
 'case',
 'sport',
 'eventu',
 'texto__caco',
 'caco__pao',
 'pao__case',
 'case__sport',
 'sport__eventu',
 'texto__caco__pao',
 'caco__pao__case',
 'pao__case__sport',
 'case__sport__eventu']

In [ ]:
tobitri("texto's #Esquisitos! caço, pão @Twiter case sports eventually", gramsAsList=True)

['texto',
 'caco',
 'pao',
 'case',
 'sport',
 'eventu',
 ['texto', 'caco'],
 ['caco', 'pao'],
 ['pao', 'case'],
 ['case', 'sport'],
 ['sport', 'eventu'],
 ['texto', 'caco', 'pao'],
 ['caco', 'pao', 'case'],
 ['pao', 'case', 'sport'],
 ['case', 'sport', 'eventu']]

In [ ]:
x_treino.sample(20)['Texto'].apply(tobitri)

1597668    [love, get, birthday, marc, bailey, never, tak...
1547000    [await, sexyboy, arriv, fun, time, week, await...
540789     [think, your, unfair, nathan, think__your, you...
563399     [lunch, car, insur, sort, iphon, download, cof...
544119     [waaaaahhh, ohyeah, someth, eeee, haha, waaaaa...
793707     [think, go, die, heat, exhaust, think__go, go_...
1338808                                                [yup]
1411657    [outsid, campu, excit, wana, danc, man, follow...
651747     [phone, case, mess, phone, cant, use, case, an...
37735      [dont, want, end, dont__want, want__end, dont_...
106546     [love, tudor, jonathon, hot, get, watch, mummi...
421932     [yeah, keep, think, hubbi, dont, like, name, w...
1030945    [think, might, ran, across, pictur, forum, mem...
1383240    [ever, tell, alreadi, got, visitor, new, hous,...
328111     [cant, find, post, echo, soul, one, book, read...
1353624    [wow, didnt, know, twitter, havent, decid, any...
843236     [thing, better, would, video, footag, us, see,...
368972     [firiend, go, parti, tonight, well, sorta, par...
1140728    [ive, spend, lot, time, get, know, bovin, neig...
349337     [work, realli, realli, suck, week, havent, muc...
Name: Texto, dtype: object

Novamente não faz sentido aplicar a tokkenização nesse ponto da análise.

#Análise de Frequência de Tokkens

In [ ]:
#iremos fazer transformações destrutivas
df_analise=x_treino.copy()

In [ ]:
#usado na hora de calcular percentuais
total_documentos=df_analise.shape[0]

In [ ]:
#cria a coluna de tokkens
df_analise['Tokkens']=df_analise['Texto'].apply(tobitri)

In [ ]:
#remove a coluna de texto não mais necessária
df_analise.drop(['Texto'], axis=1, inplace=True)

In [ ]:
#transforma o array de tokkens em linhas para contagem
df_analise_norm =df_analise.explode('Tokkens')

In [ ]:
#limpeza
del df_analise

In [ ]:
#count distint por tokken
df_frequencia=df_analise_norm.groupby('Tokkens', as_index=False)['Id'].nunique()

In [ ]:
#nome melhor para coluna
df_frequencia.rename(columns={'Id':'Qtd_Ocor'}, inplace=True)

In [ ]:
df_frequencia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8060269 entries, 0 to 8060268
Data columns (total 2 columns):
 #   Column    Dtype
---  ------    -----
 0   Tokkens   object
 1   Qtd_Ocor  int64
dtypes: int64(1), object(1)
memory usage: 123.0+ MB

##Cálculo do percentual de ocorrência

In [ ]:
#calcula a frequencia
df_frequencia['Perc']=(df_frequencia['Qtd_Ocor']/total_documentos)*100

In [ ]:
#vamos ver os melhores casos
df_frequencia.sort_values(by=['Perc'],  ascending=False, inplace=True)

In [ ]:
#Termos mais frequentes
df_frequencia.head(5)

        Tokkens  Qtd_Ocor       Perc
3320988      im    114921  10.260804
2570041      go     90146   8.048750
2465430     get     73519   6.564196
1489731     day     67018   5.983750
2671195    good     60749   5.424018

##Tokkens com frequência igual ou acima 1%

In [ ]:
#lista de tokkens com frquencia de 1% ou mais
tokkens_significativos=df_frequencia.loc[df_frequencia['Perc']>=1]

In [ ]:
#total de tokkens selecionados
tokkens_significativos.shape[0]

101

In [ ]:
tokkens_significativos

         Tokkens  Qtd_Ocor       Perc
3320988       im    114921  10.260804
2570041       go     90146   8.048750
2465430      get     73519   6.564196
1489731      day     67018   5.983750
2671195     good     60749   5.424018
...          ...       ...        ...
3947970    littl     11522   1.028750
4016764     long     11467   1.023839
1989567  everyon     11376   1.015714
2221051    first     11374   1.015536
6930017     tire     11349   1.013304

[101 rows x 3 columns]

In [ ]:
#Percentual de tokkens selecionados
(tokkens_significativos.shape[0]/df_frequencia.shape[0])*100

0.0012530599164866582

In [ ]:
df_analise_norm.head()

                Id Tokkens
398234  2056834141    need
398234  2056834141  someon
398234  2056834141    reli
398234  2056834141    work
398234  2056834141   youll

#Vetorização da base treino

In [ ]:
df_analise_norm['Qtd']=1

In [ ]:
df_analise_norm.head()

                Id Tokkens  Qtd
398234  2056834141    need    1
398234  2056834141  someon    1
398234  2056834141    reli    1
398234  2056834141    work    1
398234  2056834141   youll    1

In [ ]:
df_analise_norm.shape

(20643402, 3)

##Remove tokkens não significativos

In [ ]:
df_filtro=df_analise_norm.loc[df_analise_norm['Tokkens'].isin(tokkens_significativos['Tokkens'])]

In [ ]:
pd.set_option('max_colwidth', 400)
x_treino.loc[x_treino['Id'] == 2190665922]

Empty DataFrame
Columns: [Id, Texto]
Index: []

In [ ]:
df_filtro[df_filtro['Id']==2190665922]

Empty DataFrame
Columns: [Id, Tokkens, Qtd]
Index: []

##Pivot

In [ ]:
df_filtro.reset_index(inplace=True)

In [ ]:
x_treino_pivot=  pd.pivot_table(df_filtro, values='Qtd', index='Id', columns='Tokkens',
                         aggfunc='sum', fill_value=0)

In [ ]:
x_treino_pivot.shape

(950787, 101)

In [ ]:
x_treino_pivot.head()

Tokkens,amp,awesom,back,bad,bed,better,cant,come,could,day,...,way,week,weekend,well,wish,work,would,ye,yeah,your
Id,,,,,,,,,,,,,,,,,,,,,
1467810369,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1467810672,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1467811184,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1467811795,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1467812723,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
del df_analise_norm

In [ ]:
del df_demo

In [ ]:
del df_frequencia